/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF9F9;
    margin: 0;
    padding: 0;
}

/* Style the header */
.header {
    background-color: #F27875;
    color: #444B59;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 2em;
}

/* Style the main content container */
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 600px; /* เพิ่มขนาดที่คุณต้องการ */
    margin: 0 auto; /* ทำให้ div อยู่ตรงกลาง */
}

.main-content {
    text-align: left; /* ทำให้เนื้อหาอยู่ตรงกลาง */
    margin-top: 20px;
}

/* Style the headings */
h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
}

/* Style the paragraphs */
p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #555;
}

/* Add spacing between paragraphs */
p + p {
    margin-top: 10px;
}

.icon-font-awesome img {
    position: absolute;
    top: 45px; /* ปรับตำแหน่งด้านบนตามความต้องการ */
    right: 45px; /* ปรับตำแหน่งด้านขวาตามความต้องการ */
    width: 30px;
    height: 30px;
}